[Unit]
Description=Run MFriends DuckDNS updater every 5 minutes

[Timer]
OnBootSec=30s
OnUnitActiveSec=5min
Unit=duckdns-mfriends.service

[Install]
WantedBy=timers.target
